**.DS_Store
**.md
!**/README.md
.vscode/
imgui.ini

# JUCE artifacts
Juce/*
!Juce/8.0.4/
#!Juce/Mac/
#!Juce/Win/

JuceStaticLib/
#JuceStaticLib/*
#!JuceStaticLib/Source/
#!JuceStaticLib/JuceLibraryCode/

# Build artifacts
build/
*.o
*.obj
*.exp
*.lib
*.pdb
*.chug

# Test artifacts
tests/**.bin
